/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
.show{
    display: block;
    border-radius: 50%;
}
.border{
    border: 10px solid red;
    width: 200px;
} */











